<form id="product-form">
  <div class="form-container">
    <div class="form-left">

      <label for="codigo">Código de barras:</label>
      <input type="number" id="codigo" formControlName="codigo_barras" required>

      <label for="name">Nombre:</label>
      <input type="text" id="name" formControlName="nombre_producto" required>

      <label for="marca">Marca:</label>
      <select formControlName="marca" class="marca form-select">
        <option selected disabled>Seleccionar</option>
        <option value="SuKarne">SuKarne</option>
        <option value="Bachoco">Bachoco</option>
      </select>

      <label for="proveedor">Proveedor (es):</label>
      <select formControlName="nombre_proveedor" class="proveedor form-select">
        <option selected disabled>Seleccionar</option>
        <option value="Javier Ortega">Javier Ortega</option>
        <option value="Elena Ríos">Elena Ríos</option>
      </select>

      <label for="tamanio">Tamaño:</label><select formControlName="tamanio" class="tamanio form-select">
        <option selected disabled>Seleccionar</option>
        <option value="100gr">100 gr</option>
        <option value="250gr">250 gr</option>
        <option value="500gr">500 gr</option>
        <option value="1kg">1 Kg</option>
      </select>
      
      <label for="categoria">Categoría:</label><select formControlName="categoria" class="categoria form-select">
        <option selected disabled>Seleccionar</option>
        <option value="100gr">100 gr</option>
        <option value="250gr">250 gr</option>
        <option value="500gr">500 gr</option>
        <option value="1kg">1 Kg</option>
      </select>

      <label for="precio-pieza">Precio pieza:</label>
      <input type="number" id="precio-p" formControlName="precio_pieza" required>
      
      <label for="precio-caja">Precio caja:</label>
      <input type="number" id="precio-c" formControlName="precio_caja" required>
      
      <label for="cantidad-caja">Cantidad caja:</label>
      <input type="number" id="cantidad-c" formControlName="cantidad-caja" required>
      
      <label for="pasillo">Pasillo:</label>
      <input type="text" id="pasillo" formControlName="pasillo" required>

      <label for="existencia_almacen">Existencia en almacén:</label>
      <input type="number" id="existencia_almacen" formControlName="existencia_almacen" required>

      <label for="existencia_exhibe">Existencia en exhibición:</label>
      <input type="number" id="existencia_exhibe" formControlName="existencia_exhibe" required>

      <label for="stock_almacen">Stock en almacén:</label>
      <input type="number" id="stock_almacen" formControlName="stock_almacen" required>

      <label for="stock_exhibe">Stock en exhibición:</label>
      <input type="number" id="stock_exhibe" formControlName="stock_exhibe" required>
    </div>

    <div class="form-right">
      <div class="image-preview" id="image-preview">
        <span>Imagen</span>
      </div>
      <input type="file" id="image-upload" accept="image/*" class="upload-btn" onchange="previewImage(event)">
    </div>
  </div>

  <div class="btn-container">
    <button type="submit" class="submit-btn">
      <span>Guardar</span>
    </button>
  </div>
</form>