* {
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
}

.container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
}

.header {
  display: flex;
  align-items: center;
  background: #ddd;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.header img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-left {
  width: 55%;
}

.form-right {
  width: 40%;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-preview {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eee;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-btn, .submit-btn {
  background: #b71c1c;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn {
  background: #333;
  align-content: center;
  width: 200px;
}
