/* You can add global styles to this file, and also import other style files */

:root {
    --bs-primary: #901515; /* Código HEX del rojo-700 */
  }
  
  .bg-primary {
    background-color: var(--bs-primary) !important;
  }
  
  .text-primary {
    color: var(--bs-primary) !important;
  }
  
  .btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
