/* You can add global styles to this file, and also import other style files */

/* Estilos generales */
html, body { height: 100%; }
body { margin: 0; font-family: "Century Gothic", sans-serif; }

:root {
    --bs-primary: #901515;
  }

  .bg-primary {
    background-color: var(--bs-primary) !important;
  }

  .text-primary {
    color: var(--bs-primary) !important;
  }

  .btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }

  /* Cambiar estilo del dropdown */
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #d34141 !important;
    color: black !important;
  }

  .btn.dropdown-toggle {
    box-shadow: none !important;
    outline: none !important;
    border: none !important; /* Opcional: elimina el borde */
}
