<p>editar-producto works!</p>
<div id="nav-search" style="left: 0px; right: 0px;">
    <div id="nav-bar-left"></div> 
    <form id="nav-search-bar-form" accept-charset="utf-8" action="/s/ref=nb_sb_noss" class="nav-searchbar nav-progressive-attribute" method="GET" name="site-search" role="search">
        <div id="nav-search-bar-internationalization-key" class="nav-progressive-content">
          <input type="hidden" name="__mk_es_MX" value="ÅMÅŽÕÑ">
        </div>
  
      <div class="nav-left">
        <div id="nav-search-dropdown-card">
          
    <div class="nav-search-scope nav-sprite">
      <div class="nav-search-facade" data-value="search-alias=aps">
        <span id="nav-search-label-id" class="nav-search-label nav-progressive-content" style="width: auto;">Todas las categorías</span>
        <i class="nav-icon"></i>
      </div>
      <label id="searchDropdownDescription" for="searchDropdownBox" class="nav-progressive-attribute" style="display:none">Seleccionar el departamento en el que deseas buscar</label>
      <select aria-describedby="searchDropdownDescription" class="nav-search-dropdown searchSelect nav-progressive-attrubute nav-progressive-search-dropdown" data-nav-digest="nY8IIe22vnbR3YfS6ZRBpK83baQ=" data-nav-selected="0" id="searchDropdownBox" name="url" style="display: block; top: 2.5px;" tabindex="0" title="Buscar en">
          <option selected="selected" value="search-alias=">Todas las categorías</option>
          <option value="search-alias=marca">Marca</option>
          <option value="search-alias=nombre">Nombre</option>          
          <option value="search-alias=tamanio">Tamaño</option>        
          <option value="search-alias=codigo">Código</option>         
          <option value="search-alias=pasillo">Pasillo</option>         
      </select>
    </div>
  
        </div>
      </div>
      <div class="nav-fill">
        <div class="nav-search-field ">
            <label for="twotabsearchtextbox" style="display: none;">Buscar en Amazon.com.mx</label>
            <input type="text" id="twotabsearchtextbox" value="chuleta" name="field-keywords" autocomplete="off" placeholder="Buscar en Amazon.com.mx" class="nav-input nav-progressive-attribute" dir="auto" tabindex="0" aria-label="Buscar en Amazon.com.mx" role="searchbox" aria-autocomplete="list" aria-controls="sac-autocomplete-results-container" aria-expanded="false" aria-haspopup="grid" spellcheck="false">
        </div>
        <div id="nav-iss-attach"></div>
      </div>
      <div class="nav-right">
        <div class="nav-search-submit nav-sprite">
          <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite nav-progressive-attribute" aria-label="Ir">
            <input id="nav-search-submit-button" type="submit" class="nav-input nav-progressive-attribute" value="Ir" tabindex="0">
          </span>
        </div>
      </div>
    </form>
  </div>